/* Base Styles - Mobile First */
.comparison-table {
  --cell-padding: 2rem 0.5rem;
  --cell-border: 0.1rem solid rgb(var(--color-foreground));
  --cell-icon-size: 1.75rem;
  width: 100%;
  border-collapse: collapse;
}

.comparison-table__cell {
  display: flex;
  align-items: center;
  gap: var(--cell-icon-size);
  justify-content: flex-start;
  flex-direction: column;
  padding: var(--cell-padding);
  border: var(--cell-border);
  text-align: center;
  line-height: 1.35;
  letter-spacing: 0;
  font-size: 1.3rem; /* Default mobile font size */
}

.comparison-table__cell .icon {
  width: var(--cell-icon-size);
  height: var(--cell-icon-size);
  min-width: var(--cell-icon-size);
  min-height: var(--cell-icon-size);
}

.comparison-table__cell > * {
  margin: 0;
}

.comparison-table__header {
  position: sticky;
  top: var(--header-height);
  background: rgb(var(--color-background));
}

.comparison-table__body tr + tr .comparison-table__cell,
.comparison-table__body tr:first-child .comparison-table__cell {
  border-top: none;
}

.comparison-table__cell--highlighted {
  background-color: var(--highlight-color, #f0f8ff);
  font-weight: bold;
}

/* Mobile Styles (default for small screens) */
.comparison-table tr {
  display: flex;
  flex-wrap: wrap;
}

.comparison-table tr > *:first-child {
  flex-grow: 1;
  max-width: 100%;
  width: 100%;
}

.comparison-table tr > * {
  max-width: calc(100% / 3);
  width: 100%;
}

@media screen and (max-width: 990px) {
  .comparison-table tr > .comparison-table__cell + .comparison-table__cell:not(:last-child) {
    border-right: none;
  }
  .comparison-table__header tr > :first-child {
    display: none;
  }
}
/* Larger Screens - Enhancements for Desktops */
@media screen and (min-width: 990px) {
  .comparison-table tr {
    --cell-padding: 2rem 2.25rem;
    display: grid;
    grid-template-columns: 0.55fr 1fr 1fr 1fr; /* Adjust grid for desktop */
  }

  .comparison-table tr > .comparison-table__cell + .comparison-table__cell {
    border-left: none;
  }

  .comparison-table__cell {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.5rem;
    max-width: unset !important;
    text-align: left;
    gap: calc(var(--cell-icon-size) * 0.65);
  }
}
