/* Accordion: General */
.accordion {
  --title-font-size: 1.85rem;
  --content-font-size: calc(var(--title-font-size) * 0.75);
  --title-padding-block: calc(var(--title-font-size) * 0.75);
  --content-padding-block: calc(var(--title-font-size) * 0.5);
  border-bottom: 0.1rem solid rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .accordion {
    --title-font-size: 2rem;
  }
}

.accordion[data-icon-effect='rotate'][open] .accordion__icon > .icon {
  rotate: 180deg;
}

/* Accordion: Heading */
.accordion__button {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: var(--title-font-size);
  padding-block: var(--title-padding-block);
}

.accorditon__title {
  display: flex;
  align-items: center;
  margin: 0;
  gap: calc(var(--title-font-size) * 0.4);
  font-size: var(--title-font-size);
}

.accorditon__title > .svg-wrapper {
  width: calc(var(--title-font-size) * 0.85);
  height: calc(var(--title-font-size) * 0.85);
  min-width: calc(var(--title-font-size) * 0.85);
  min-height: calc(var(--title-font-size) * 0.85);
}

.accordion__icon {
  width: calc(var(--title-font-size) * 0.7);
  height: calc(var(--title-font-size) * 0.7);
  min-width: calc(var(--title-font-size) * 0.7);
  min-height: calc(var(--title-font-size) * 0.7);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.accordion__icon > .icon {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  right: 0;
  top: 0;
}

/* Accordion: Content */
.accordion__content {
  font-size: var(--content-font-size);
  padding-block: var(--content-padding-block);
}

/* 
.accordion__content > * {
	opacity: .5;
	visibility: hidden;
	transform: translateY(40%);
	transition: opacity var(--duration-medium) ease-out, transform var(--duration-medium) ease-out;
  }
  

.accordion[open] .accordion__content > * {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
} */

/* Accoridons: Small */
.accordion--s {
  --title-font-size: 1.6rem;
}

/* Accoridons: Large */
.accordion--l {
  --title-font-size: 2rem;
}

@media screen and (min-width: 750px) {
  .accordion--l {
    --title-font-size: 2.5rem;
  }
}

/* Accoridons: Extra Large */
.accordion--xl {
  --title-font-size: 2.5rem;
}

@media screen and (min-width: 750px) {
  .accordion--xl {
    --title-font-size: 3rem;
  }
}
