/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch {
  --swatch--size: var(--swatch-input--size, 4.4rem);
  --swatch--border-radius: var(--swatch-input--border-radius, 50%);

  display: block;
  width: var(--swatch--size);
  max-width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-radius: var(--swatch--border-radius);
}

.swatch--square {
  --swatch--border-radius: var(--swatch-input--border-radius, 0.2rem);
}

.swatch--unavailable {
  border-style: dashed;
  border-color: rgba(var(--color-foreground), 0.5);
}


.card-information--swatches {
	position: relative;
	margin-top: 1.5rem;
  z-index: 2;
}

.color-swatch-list {
  --gap: 1rem;
  --swatch-input--size: 4rem;
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.color-swatch-list--mini{
  --swatch-input--size: 3rem;
}

.color-swatch {
  padding: .2rem;
  border: .1rem solid transparent;
}

.color-swatch--selected {
  border-color: rgba(var(--color-foreground),1);
}